<!--
    ioBroker.vis photovoltaik charts Widget-Set

    version: "1.0.8"
 
    Copyright 2022 nobodyMO markus@korporal.de
-->
<!-- here you can include so many css as you want -->
<link rel="stylesheet" href="widgets/photovoltaikchartWidget/css/styles.css" />
<!-- here you can include so many js-files as you want -->
<script type="text/javascript" src="widgets/photovoltaikchartWidget/highcharts/highstock.js"></script>
<script type="text/javascript" src="widgets/photovoltaikchartWidget/highcharts/highcharts-3d.js"></script>
<script type="text/javascript" src="widgets/photovoltaikchartWidget/highcharts/boost.js"></script>
<script type="text/javascript" src="widgets/photovoltaikchartWidget/highcharts/exporting.js"></script>
<script type="text/javascript" src="widgets/photovoltaikchartWidget/highcharts/export-data.js"></script>
<script type="text/javascript" src="widgets/photovoltaikchartWidget/highcharts/offline-exporting.js"></script>
<script type="text/javascript" src="widgets/photovoltaikchartWidget/highcharts/full-screen.js"></script>
<script type="text/javascript" src="widgets/photovoltaikchartWidget/highcharts/drag-panes.js"></script>
<script type="text/javascript" src="widgets/photovoltaikchartWidget/js/photovoltaikCharts.js"></script>		

<script type="text/javascript" >
    "use strict";
$(function() {
	
    if (vis.editMode) {
        $.extend(true, systemDictionary, {
            "numberOfYears":        	{"en": "Count of years",             		"de": "Anzahl der Jahre",      						"ru": "Count of years"},
            "seriesCount":        		{"en": "Count of Series in chart",          "de": "Anzahl der Datenreihen im Diagramm",      	"ru": "Count of Series in chart"},
            "group_series":        		{"en": "Series settings",             		"de": "Einstellungen Datenreihe",      				"ru": "Series settings"},
            "group_chart":        		{"en": "Chart settings",             		"de": "Diagrammeinstellungen",      				"ru": "Chart settings"},
            "group_zoom":        		{"en": "Zoom settings",             		"de": "Zoom Einstellungen",      					"ru": "Zoom settings"},
            "group_axis":        		{"en": "Axis settings",             		"de": "Achsen Einstellungen",      					"ru": "Axis settings"},
            "group_nagigator":      	{"en": "Navigator settings",             	"de": "Navigator Einstellungen",      				"ru": "Navigator settings"},
            "group_years":      		{"en": "Years settings",        	     	"de": "Jahreseinstellungen",      				"ru": "Years settings"},
            "serieshistoryoid":        	{"en": "ID for Series",             		"de": "ID für Datenreihe",      				"ru": "ID for Series 1"},
            "instance":       			{"en": "History Instance Series",         	"de": "History Instance Datenreihe",     			"ru": "History Instance Series"},
            "serieslabel":           	{"en": "Label for Series",                	"de": "Bezeichnung für Datenreihe",       			"ru": "Label for Series 1"},
            "multiplicator":           	{"en": "Multiplicator for Series",        	"de": "Multiplicator für Datenreihe",     			"ru": "Multiplicator for Series"},
            "seriescurrentoid":        	{"en": "ID for Series current value",     	"de": "ID für aktuellen Wert für Datenreihe", 		"ru": "ID for Series current value"},
            "seriescolor":             	{"en": "Color for Series",                	"de": "Farbe für Datenreihe",               		"ru": "Color for Series"},
            "seriesType":            	{"en": "Diagram type",             			"de": "Diagrammtyp Datenreihe",  			        "ru": "Diagram type"},
            "serieshistoryoid":        	{"en": "ID for Series",             		"de": "ID für Datenreihe",      					"ru": "ID for Series"},
            "serieslinewidth":         	{"en": "Line width for Series",           	"de": "Liniendicke für Datenreihe",              	"ru": "Line width for Series"},
            "serieshoverlinewidth":    	{"en": "Line width on hover for Series", 	"de": "Liniendicke bei Markierung für Datenreihe",  "ru": "Line width on hover for Series"},
            "seriesstep":         		{"en": "Steping for Series", 	          	"de": "Schritt für Datenreihe",              		"ru": "Steping for Series"},
			"seriesopacity":        	{"en": "Fill opacity for Series (%)",		"de": "Füllstärke für Datenreihe (%)",       		"ru": "Fill opacity for Series (%)"},
			"seriesaxis":        		{"en": "y-Axis for Series",					"de": "y-Achse für Datenreihe",       				"ru": "y-Axis for Series"},
			"seriesstacking":      		{"en": "Stacking for Series",				"de": "Stapel für Datenreihe",       				"ru": "Stacking for Series"},
			
			
            "instance1":       			{"en": "History Instance Series 1",         "de": "History Instance Datenreihe 1",     			"ru": "History Instance Series 1"},
            "series1label":           	{"en": "Label for Series 1",                "de": "Bezeichnung für Datenreihe 1",       		"ru": "Label for Series 1"},
            "multiplicator1":           {"en": "Multiplicator for Series 1",        "de": "Multiplicator für Datenreihe 1",     		"ru": "Multiplicator for Series 1"},
            "series1currentoid":        {"en": "ID for Series 1 current value",     "de": "ID für aktuellen Wert für Datenreihe 1", 	"ru": "ID for Series 1 current value"},
            "series1color":             {"en": "Color for Series 1",                "de": "Farbe für Datenreihe 1",               		"ru": "Color for Series 1"},
            "series1Type":            	{"en": "Diagram type Series 1",             "de": "Diagrammtyp Datenreihe 1",  			        "ru": "Diagram type  Series 1"},
            "series2historyoid":        {"en": "ID for Series 2",             		"de": "ID für Datenreihe 2",      					"ru": "ID for Series 2"},
            "instance2":       			{"en": "History Instance Series 2",         "de": "History Instance Datenreihe 2",     			"ru": "History Instance Series 2"},
            "series2label":           	{"en": "Label for Series 2",                "de": "Bezeichnung für Datenreihe 2",       		"ru": "Label for Series 2"},
            "multiplicator2":           {"en": "Multiplicator for Series 2",        "de": "Multiplicator für Datenreihe 2",     		"ru": "Multiplicator for Series 2"},
            "series2currentoid":        {"en": "ID for Series 2 current value",     "de": "ID für aktuellen Wert für Datenreihe 2", 	"ru": "ID for Series 2 current value"},
            "series2color":             {"en": "Color for Series 2",                "de": "Farbe für Datenreihe 2",               		"ru": "Color for Series 2"},
            "series2Type":            	{"en": "Diagram type Series 2",             "de": "Diagrammtyp Datenreihe 2",  			        "ru": "Diagram type Series 2"},
            "yearcolor1":             	{"en": "Color 1 for year",                "de": "Farbe 1 für Jahr",               			"ru": "Color 1 for year"},
            "yearcolor2":             	{"en": "Color 2 for year",                "de": "Farbe 2 für Jahr",               			"ru": "Color 2 for year"},
            "title":       				{"en": "Title",                				"de": "Titel",     									"ru": "Title"},
            "target":         			{"en": "Target",                  			"de": "Zielwert",									"ru": "Target"},
            "targetName":				{"en": "Label for target",        			"de": "Bezeichnung für Zielwert", 					"ru": "Label for target"},
            "stacklabel": 				{"en": "Stack label",           			"de": "Bezeichnung für Stapel",						"ru": "Stack label"},
            "alpha":           			{"en": "Alpha",               				"de": "Alpha", 										"ru": "Alpha"},
            "beta":             		{"en": "Beta",                       		"de": "Beta",             							"ru": "Beta"},
            "depth":         			{"en": "Depth",                				"de": "Tiefe",        								"ru": "Depth"},
            "viewDistance":          	{"en": "View distance",                 	"de": "Anzeigeabstand",          					"ru": "View distance"},
            "normalizeDate":       		{"en": "Normalize date",                	"de": "Datum normalisieren",           				"ru": "Normalize date"},
            "zoomDefault":       		{"en": "Default zoom",                		"de": "Voreingestellter Zoom",         				"ru": "Default zoom"},
            "showLegend":       		{"en": "Show legend",                		"de": "Legende anzeigen",         					"ru": "Show legend"},
            "no":       				{"en": "no",                				"de": "nein",         								"ru": "no"},
            "hour":       				{"en": "hour",                				"de": "Stunde",         							"ru": "hour"},
            "day":       				{"en": "day",                				"de": "Tag",         								"ru": "day"},
            "week":       				{"en": "week",                				"de": "Woche",         								"ru": "week"},
            "month":       				{"en": "month",                				"de": "Monat",         								"ru": "month"},
            "1d":       				{"en": "One day",                			"de": "Ein Tag",         							"ru": "One day"},
            "3d":       				{"en": "Three days",                		"de": "Drei Tage",         							"ru": "Three days"},
            "7d":       				{"en": "Seven days",          				"de": "Sieben Tage",         						"ru": "Seven days"},
            "1m":       				{"en": "One month",                			"de": "Ein Monat",         							"ru": "One month"},
            "3m":       				{"en": "Three months",                		"de": "Drei Monate",         						"ru": "Three months"},
            "6m":       				{"en": "Six months",                		"de": "Sechs Monate",         						"ru": "Six months"},
            "ytd":       				{"en": "Year to date",                		"de": "Aktuelles Jahr",         					"ru": "Year to date"},
            "1y":       				{"en": "One year",                			"de": "Ein Jahr",         							"ru": "One year"},
            "all":       				{"en": "All",                				"de": "Alles",         								"ru": "All"},
            "navhistoryoid":        	{"en": "ID for Navigator",             		"de": "ID für Navigator",      						"ru": "ID for Series 1"},
            "navinstance":       		{"en": "History Instance Navigator",        "de": "History Instance Navigator",     			"ru": "History Instance Navigator"},
            "navmultiplicator":         {"en": "Multiplicator for Navigator",       "de": "Multiplikator for Navigator",       			"ru": "Multiplicator for Navigator"},
            "xAxisLabel1":         		{"en": "Label for Y-Axis 1",     			"de": "Bezeichnung für Y-Axis 1",       			"ru": "Label for Y-Axis 1"},
            "xAxisLabel2":         		{"en": "Label for Y-Axis 2",     			"de": "Bezeichnung für Y-Axis 2",       			"ru": "Label for Y-Axis 2"},
            "xAxisLabel3":         		{"en": "Label for Y-Axis 3",     			"de": "Bezeichnung für Y-Axis 3",       			"ru": "Label for Y-Axis 3"},
            "zoomoid":         			{"en": "ID for dynamic zoom",     			"de": "ID für dynamischen Zoom",       				"ru": "ID for dynamic zoom"},
            "series1linewidth":         {"en": "Line width for Series 1",           "de": "Liniendicke für Datenreihe 1",              	"ru": "Line width for Series 1"},
            "series2linewidth":         {"en": "Line width for Series 2",           "de": "Liniendicke für Datenreihe 2",              	"ru": "Line width for Series 2"},
            "series3linewidth":         {"en": "Line width for Series 3",           "de": "Liniendicke für Datenreihe 3",              	"ru": "Line width for Series 3"},
            "series4linewidth":         {"en": "Line width for Series 4",           "de": "Liniendicke für Datenreihe 4",              	"ru": "Line width for Series 4"},
            "series5linewidth":         {"en": "Line width for Series 5",           "de": "Liniendicke für Datenreihe 5",              	"ru": "Line width for Series 5"},
            "series6linewidth":         {"en": "Line width for Series 6",           "de": "Liniendicke für Datenreihe 6",              	"ru": "Line width for Series 6"},
            "series1hoverlinewidth":    {"en": "Line width on hover for Series 1",  "de": "Liniendicke bei Markierung für Datenreihe 1",   "ru": "Line width on hover for Series 1"},
            "series2hoverlinewidth":    {"en": "Line width on hover for Series 2",  "de": "Liniendicke bei Markierung für Datenreihe 2",   "ru": "Line width on hover for Series 2"},
            "series3hoverlinewidth":    {"en": "Line width on hover for Series 3",  "de": "Liniendicke bei Markierung für Datenreihe 3",   "ru": "Line width on hover for Series 3"},
            "series4hoverlinewidth":    {"en": "Line width on hover for Series 4",  "de": "Liniendicke bei Markierung für Datenreihe 4",   "ru": "Line width on hover for Series 4"},
            "series5hoverlinewidth":    {"en": "Line width on hover for Series 5",  "de": "Liniendicke bei Markierung für Datenreihe 5",   "ru": "Line width on hover for Series 5"},
            "series6hoverlinewidth":    {"en": "Line width on hover for Series 6",  "de": "Liniendicke bei Markierung für Datenreihe 6",   "ru": "Line width on hover for Series 6"},
            "series1step":         		{"en": "Steping for Series 1",           	"de": "Schritt für Datenreihe 1",              		"ru": "Steping for Series 1"},
            "series2step":         		{"en": "Steping for Series 2",           	"de": "Schritt für Datenreihe 2",              		"ru": "Steping for Series 2"},
            "series3step":         		{"en": "Steping for Series 3",           	"de": "Schritt für Datenreihe 3",              		"ru": "Steping for Series 3"},
            "series4step":         		{"en": "Steping for Series 4",           	"de": "Schritt für Datenreihe 4",              		"ru": "Steping for Series 4"},
            "series5step":         		{"en": "Steping for Series 5",           	"de": "Schritt für Datenreihe 5",              		"ru": "Steping for Series 5"},
            "series6step":         		{"en": "Steping for Series 6",           	"de": "Schritt für Datenreihe 6",              		"ru": "Steping for Series 6"},
            "yAxis1Categories":        	{"en": "JSON with categories for Series 1", "de": "JSON mit Kategorien für Datenreihe 1",       "ru": "JSON with categories for Series 1"},
            "yAxis2Categories":        	{"en": "JSON with categories for Series 2", "de": "JSON mit Kategorien für Datenreihe 2",       "ru": "JSON with categories for Series 2"},
            "yAxis3Categories":        	{"en": "JSON with categories for Series 3", "de": "JSON mit Kategorien für Datenreihe 3",       "ru": "JSON with categories for Series 3"},
            "showMenu":        			{"en": "Show context menu", 				"de": "Kontextmenü anzeigen",       				"ru": "Show context menu"},
            "yAxis1min":        		{"en": "min value for y-axis 1", 			"de": "min Wert für y Achse 1",       				"ru": "min value for y-axis 1"},
            "yAxis1max":        		{"en": "max value for y-axis 1", 			"de": "max Wert für y Achse 1",       				"ru": "max value for y-axis 1"},
            "yAxis2min":        		{"en": "min value for y-axis 2", 			"de": "min Wert für y Achse 2",       				"ru": "min value for y-axis 2"},
            "yAxis2max":        		{"en": "max value for y-axis 2", 			"de": "max Wert für y Achse 2",       				"ru": "max value for y-axis 2"},
            "yAxis3min":        		{"en": "min value for y-axis 3", 			"de": "min Wert für y Achse 3",       				"ru": "min value for y-axis 3"},
            "yAxis3max":        		{"en": "max value for y-axis 3", 			"de": "max Wert für y Achse 3",       				"ru": "max value for y-axis 3"},
            "yAxis1tickamount":        	{"en": "Number of ticks on y-axis 1",		"de": "Anzahl Ticks auf y Achse 1",       			"ru": "Number of ticks on y-axis 1"},
            "yAxis2tickamount":        	{"en": "Number of ticks on y-axis 2",		"de": "Anzahl Ticks auf y Achse 2",       			"ru": "Number of ticks on y-axis 2"},
            "yAxis3tickamount":        	{"en": "Number of ticks on y-axis 3",		"de": "Anzahl Ticks auf y Achse 3",       			"ru": "Number of ticks on y-axis 3"},
            "chart1Height":        		{"en": "Height of chart 1 (%)",				"de": "Höhe von Diagramm 1 (%)",      	 			"ru": "Height of chart 1 (%)"},
            "chart2Height":        		{"en": "Height of chart 2 (%)",				"de": "Höhe von Diagramm 2 (%)",       				"ru": "Height of chart 2 (%)"},
            "chart3Height":        		{"en": "Height of chart 3 (%)",				"de": "Höhe von Diagramm 3 (%)",       				"ru": "Height of chart 3 (%)"},
			"series1opacity":        	{"en": "Fill opacity for Series 1 (%)",		"de": "Füllstärke für Datenreihe 1 (%)",       		"ru": "Fill opacity for Series 1 (%)"},
			"series2opacity":        	{"en": "Fill opacity for Series 2 (%)",		"de": "Füllstärke für Datenreihe 2 (%)",       		"ru": "Fill opacity for Series 2 (%)"},
			"series3opacity":        	{"en": "Fill opacity for Series 3 (%)",		"de": "Füllstärke für Datenreihe 3 (%)",       		"ru": "Fill opacity for Series 3 (%)"},
			"series4opacity":        	{"en": "Fill opacity for Series 4 (%)",		"de": "Füllstärke für Datenreihe 4 (%)",       		"ru": "Fill opacity for Series 4 (%)"},
			"series5opacity":        	{"en": "Fill opacity for Series 5 (%)",		"de": "Füllstärke für Datenreihe 5 (%)",       		"ru": "Fill opacity for Series 5 (%)"},
			"series6opacity":        	{"en": "Fill opacity for Series 6 (%)",		"de": "Füllstärke für Datenreihe 6 (%)",       		"ru": "Fill opacity for Series 6 (%)"},
			"chartspacing":        		{"en": "Space between charts (%)",			"de": "Abstand zwischen Diagrammen (%)",       		"ru": "Space between charts (%)"},
			"series1axis":        		{"en": "y-Axis for Series 1",				"de": "y-Achse für Datenreihe 1",       			"ru": "y-Axis for Series 1"},
			"series2axis":        		{"en": "y-Axis for Series 2",				"de": "y-Achse für Datenreihe 2",       			"ru": "y-Axis for Series 2"},
			"series3axis":        		{"en": "y-Axis for Series 3",				"de": "y-Achse für Datenreihe 3",       			"ru": "y-Axis for Series 3"},
			"series4axis":        		{"en": "y-Axis for Series 4",				"de": "y-Achse für Datenreihe 4",       			"ru": "y-Axis for Series 4"},
			"series5axis":        		{"en": "y-Axis for Series 5",				"de": "y-Achse für Datenreihe 5",       			"ru": "y-Axis for Series 5"},
			"series6axis":        		{"en": "y-Axis for Series 6",				"de": "y-Achse für Datenreihe 6",       			"ru": "y-Axis for Series 6"},
			"series1stacking":      	{"en": "Stacking for Series 1",				"de": "Stapel für Datenreihe 1",       				"ru": "Stacking for Series 1"},
			"series2stacking":        	{"en": "Stacking for Series 2",				"de": "Stapel für Datenreihe 2",       				"ru": "Stacking for Series 2"},
			"series3stacking":        	{"en": "Stacking for Series 3",				"de": "Stapel für Datenreihe 3",       				"ru": "Stacking for Series 3"},
			"series4stacking":        	{"en": "Stacking for Series 4",				"de": "Stapel für Datenreihe 4",       				"ru": "Stacking for Series 4"},
			"series5stacking":        	{"en": "Stacking for Series 5",				"de": "Stapel für Datenreihe 5",       				"ru": "Stacking for Series 5"},
			"series6stacking":        	{"en": "Stacking for Series 6",				"de": "Stapel für Datenreihe 6",       				"ru": "Stacking for Series 6"},
			"navigatorRange":        	{"en": "Range of navigator (months)",		"de": "Bereich für Navigator (Monate)",       				"ru": "Range of navigator (months)"}
		
        });
    }
});

</script>

<script id="tplPhotovoltaikchartsMonthly"
        type="text/ejs"
        class="vis-tpl"
        data-vis-type="history" 
        data-vis-prev='<img src="widgets/photovoltaikchartWidget/img/photovoltaikchartsprev.png"></img>'
		data-vis-attrs="seriesCount[1]/number,1,6,1;group.series/byindex;serieshistoryoid(1-seriesCount)/hid/onHidChanged;instance(1-seriesCount)/history;seriescurrentoid(1-seriesCount)/id;serieslabel(1-seriesCount);multiplicator(1-seriesCount)[1];seriesType(1-seriesCount)/select,area,areaspline,line,spline,column,bar;serieslinewidth(1-seriesCount)[1]/number;serieshoverlinewidth(1-seriesCount)[2]/number;seriesopacity(1-seriesCount)[30]/slider,1,100,1;"
        data-vis-attrs0="group.chart;title;unit;target;targetName;stacklabel;showLegend[true]/checkbox;showMenu[true]/checkbox;alpha/number;beta/number;depth/number;viewDistance/number;numberOfYears[3]/number,1,20,1;group.years/byindex;"
		data-vis-attrs1="yearcolor1(1-numberOfYears)/color;yearcolor2(1-numberOfYears)/color;yearcolor3(1-numberOfYears)/color;yearcolor4(1-numberOfYears)/color;yearcolor5(1-numberOfYears)/color;yearcolor6(1-numberOfYears)/color;"
        data-vis-set="photovoltaikcharts"
        data-vis-name="Power Generation Monthly"
		data-vis-update-style="true"
		>
		<div class="vis-widget <%== this.data.attr('class') %>" id="<%= this.data.attr('wid') %>" style="overflow:visible; width: 230px; height: 210px"
		>
			<div class="photovoltaikcharts vis-widget-body <%== this.data.attr('class') %>"  >
				<div id="chart_placeholder<%= this.data.attr('wid') %>" class="chart-placeholder"></div>
			</div>
          <%		  
            console.log(' photovoltaikcharts: Init Widget');
			vis.binds.photovoltaikcharts.createMonthlyWidget(this.data.wid, this.view, this.data, this.style);						
          %>		  
		</div>	
</script>

<script id="tplPhotovoltaikchartsYearly"
        type="text/ejs"
        class="vis-tpl"
        data-vis-type="history" 
        data-vis-prev='<img src="widgets/photovoltaikchartWidget/img/photovoltaikchartsprev2.png"></img>'
		
        data-vis-attrs="seriesCount[1]/number,1,20,1;group.series/byindex;serieshistoryoid(1-seriesCount)/hid/onHidChanged;instance(1-seriesCount)/history;seriescurrentoid(1-seriesCount)/id;serieslabel(1-seriesCount);multiplicator(1-seriesCount)[1];seriescolor(1-seriesCount)[#2f7ed8]/color;seriesstacking(1-seriesCount)[no]/select,no,A,B,C,D,E;"
        data-vis-attrs0="group.chart;title;unit;target;targetName;stacklabel;showLegend[true]/checkbox;showMenu[true]/checkbox;numberOfYears[4]/number,1,20,1;"
        data-vis-attrs1="alpha/number;beta/number;depth/number;viewDistance/number"
	
        data-vis-set="photovoltaikcharts"
        data-vis-name="Power Generation Yearly"
		data-vis-update-style="true"
		>
		<div class="vis-widget <%== this.data.attr('class') %>" id="<%= this.data.attr('wid') %>" style="overflow:visible; width: 230px; height: 210px"
		>
			<div class="photovoltaikcharts vis-widget-body <%== this.data.attr('class') %>"  >
				<div id="chart_placeholder<%= this.data.attr('wid') %>" class="chart-placeholder"></div>
			</div>
          <%		  
            console.log(' photovoltaikcharts: Init Widget');
			vis.binds.photovoltaikcharts.createYearlyWidget(this.data.wid, this.view, this.data, this.style);						
          %>		  
		</div>	
</script>
<script id="tplPhotovoltaikchartsTimeline"
        type="text/ejs"
        class="vis-tpl"
        data-vis-type="history" 
        data-vis-prev='<img src="widgets/photovoltaikchartWidget/img/photovoltaikchartsprev3.png"></img>'
		
        data-vis-attrs="group.navigator;navigatorRange[48]/slider,0,100,1;"
        data-vis-attrs0="seriesCount[1]/number,1,20,1;group.series/byindex;serieshistoryoid(1-seriesCount)/hid/onHidChanged;instance(1-seriesCount)/history;seriescurrentoid(1-seriesCount)/id;serieslabel(1-seriesCount);multiplicator(1-seriesCount)[1];seriescolor(1-seriesCount)[#2f7ed8]/color;seriesType(1-seriesCount)[area]/select,area,areaspline,line,spline,column,bar;serieslinewidth(1-seriesCount)[1]/number;serieshoverlinewidth(1-seriesCount)[2]/number;seriesstep(1-seriesCount)/select,no,left,center,right;seriesopacity(1-seriesCount)[30]/slider,1,100,1;seriesaxis(1-seriesCount)[0]/select,0,1;seriesstacking(1-seriesCount)[no]/select,no,A,B,C,D,E;"
        data-vis-attrs1="group.chart;title;unit;showLegend[true]/checkbox;showMenu[true]/checkbox;chart1Height[48]/slider,1,100,1;chart2Height[48]/slider,1,100,1;chartspacing[4]/slider,0,200,1;"
        data-vis-attrs2="normalizeDate[no]/select,no,hour,day,week,month,year;group.axis;yAxis1min;yAxis1max;yAxis2min;yAxis2max;;yAxis1tickamount/number;"
        data-vis-attrs3="group.zoom;zoomDefault[1d]/select,1d,3d,7d,1m,3m,6m,ytd,1y,all;"
		
		
        data-vis-set="photovoltaikcharts"
        data-vis-name="Time series chart"
		data-vis-update-style="true"
		>
		<div class="vis-widget <%== this.data.attr('class') %>" id="<%= this.data.attr('wid') %>" style="overflow:visible; width: 230px; height: 210px"
		>
			<div class="photovoltaikcharts vis-widget-body <%== this.data.attr('class') %>"  >
				<div id="chart_placeholder<%= this.data.attr('wid') %>" class="chart-placeholder"></div>
			</div>
          <%		  
            console.log(' photovoltaikcharts: Init Widget');
			vis.binds.photovoltaikcharts.createTimeseriesWidget(this.data.wid, this.view, this.data, this.style);						
          %>		  
		</div>	
</script>

<script id="tplPhotovoltaikchartsTimeline2"
        type="text/ejs"
        class="vis-tpl"
        data-vis-type="history" 
        data-vis-prev='<img src="widgets/photovoltaikchartWidget/img/photovoltaikchartsprev4.png"></img>'
        data-vis-attrs="group.navigator;navhistoryoid/hid/onHidChanged;navinstance/history;navmultiplicator[1];navigatorRange[3]/slider,0,100,1;"
		data-vis-attrs0="seriesCount[1]/number,1,20,1;group.series/byindex;serieshistoryoid(1-seriesCount)/hid/onHidChanged;instance(1-seriesCount)/history;serieslabel(1-seriesCount);multiplicator(1-seriesCount)[1];seriescolor(1-seriesCount)[#FF5A33]/color;seriesType(1-seriesCount)[areaspline]/select,area,areaspline,line,spline,column,bar;serieslinewidth(1-seriesCount)[1]/number;serieshoverlinewidth(1-seriesCount)[2]/number;seriesstep(1-seriesCount)/select,no,left,center,right;seriesopacity(1-seriesCount)[30]/slider,1,100,1;seriesaxis(1-seriesCount)[0]/select,0,1,2;seriesstacking(1-seriesCount)[no]/select,no,A,B,C,D,E;"
        data-vis-attrs1="group.chart;title;unit;xAxisLabel1;xAxisLabel2;xAxisLabel3;showLegend[true]/checkbox;showMenu[true]/checkbox;chart1Height[20]/slider,1,100,1;chart2Height[40]/slider,1,100,1;chart3Height[30]/slider,1,100,1;chartspacing[5]/slider,0,200,1;"
        data-vis-attrs2="group.zoom;zoomDefault[1d]/select,1d,3d,7d,1m,3m,6m;group.axis;yAxis1min;yAxis1max;yAxis1Categories;yAxis1tickamount/number;yAxis2min;yAxis2max;yAxis2Categories;yAxis2tickamount/number;yAxis3min;yAxis3max;yAxis3Categories;yAxis3tickamount/number"
		
		
        data-vis-set="photovoltaikcharts"
        data-vis-name="Time series chart 2"
		data-vis-update-style="true"
		>
		<div class="vis-widget <%== this.data.attr('class') %>" id="<%= this.data.attr('wid') %>" style="overflow:visible; width: 230px; height: 210px"
		>
			<div class="photovoltaikcharts vis-widget-body <%== this.data.attr('class') %>"  >
				<div id="chart_placeholder<%= this.data.attr('wid') %>" class="chart-placeholder"></div>
			</div>
          <%		  
            console.log(' photovoltaikcharts: Init Widget');
			vis.binds.photovoltaikcharts.createTimeseries2Widget(this.data.wid, this.view, this.data, this.style);						
          %>		  
		</div>	
</script>

<script id="tplPhotovoltaikchartsTimeline3"
        type="text/ejs"
        class="vis-tpl"
        data-vis-type="history" 
        data-vis-prev='<img src="widgets/photovoltaikchartWidget/img/photovoltaikchartsprev5.png"></img>'
		
		data-vis-attrs="seriesCount[1]/number,1,20,1;group.series/byindex;serieshistoryoid(1-seriesCount)/hid/onHidChanged;instance(1-seriesCount)/history;serieslabel(1-seriesCount);multiplicator(1-seriesCount)[1];seriescolor(1-seriesCount)[#FF5A33]/color;seriesType(1-seriesCount)[areaspline]/select,area,areaspline,line,spline,column,bar;serieslinewidth(1-seriesCount)[1]/number;serieshoverlinewidth(1-seriesCount)[2]/number;seriesstep(1-seriesCount)/select,no,left,center,right;seriesopacity(1-seriesCount)[30]/slider,1,100,1;seriesstacking(1-seriesCount)[no]/select,no,A,B,C,D,E;"
        data-vis-attrs0="group.chart;title;unit;showLegend[true]/checkbox;showMenu[true]/checkbox;"
        data-vis-attrs1="group.zoom;zoomDefault[1d]/select,1d,3d,7d,1m,3m,6m;zoomoid/id;group.axis;yAxis1min;yAxis1max;yAxis1Categories;yAxis1tickamount/number"
        data-vis-set="photovoltaikcharts"
        data-vis-name="Time series chart 3"
		data-vis-update-style="true"
		>
		<div class="vis-widget <%== this.data.attr('class') %>" id="<%= this.data.attr('wid') %>" style="overflow:visible; width: 230px; height: 210px"
		>
			<div class="photovoltaikcharts vis-widget-body <%== this.data.attr('class') %>"  >
				<div id="chart_placeholder<%= this.data.attr('wid') %>" class="chart-placeholder"></div>
			</div>
          <%		  
            console.log(' photovoltaikcharts: Init Widget 3');
			vis.binds.photovoltaikcharts.createTimeseries3Widget(this.data.wid, this.view, this.data, this.style);						
          %>		  
		</div>	
</script>
